@keyframes spin 
{
    0% 
    {
      transform: rotate(0deg);
    }
    100% 
    {
      transform: rotate(360deg);
    }
  }
.background 
{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../Imagenes/en_construccion.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-color: rgb(189, 183, 107); /* Fondo amarillito */
      animation: spin 10s linear infinite; /* Aplica la animación de giro */
  }
  